<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taom Turi Aniqlovchi</title>
</head>
<body>
    <h2>Rasm yuklash:</h2>
    <form action="/predict/" enctype="multipart/form-data" method="post">
        <input name="file" type="file">
        <input type="submit" value="Yuborish">
    </form>
    {% if result %}
        <h3>Natija: {{result}}</h3>
    {% endif  %}
    
</body>
</html>